<footer>
    <section class="social">
        <i class="fa fa-twitter-square"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-facebook-square"></i>
    </section>
    <section class="middle">bloggerspoint.com<br>Thank you for Visiting us. Come Again!<br>All rights are reserved by Bloggers Point</section>
    <section class="details">
            Bloggers Point <br> INDIA
            <br>+91 9887844853<br><a href="mailto:harshitag98.ha@gmail.com">harshitag98.ha@gmail.com</a>
    </section>
</footer>
